<mat-toolbar class="app-header">
  <!-- Left Side: Toggle & Search -->
  <div class="header-left">
    <button mat-icon-button
            class="toggle-btn"
            aria-label="Toggle Sidebar"
            (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="search-box">
      <input type="text" class="search-input" placeholder="Search anything..." />
      <mat-icon class="search-icon">search</mat-icon>
    </div>
  </div>

  <!-- Right Side: Notifications & Auth/User Links -->
  <div class="header-right">
    <!-- Notification Bell with Dot Badge -->
    <div class="notification-wrapper">
      <button mat-icon-button class="header-action-btn" aria-label="Notifications">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <span class="notification-badge-dot"></span>
    </div>

    <div class="header-divider"></div>

    <!-- Auth / User Links -->
    <ng-container *ngIf="login">
      <span class="nav-text-link username-link">{{ user.username }}</span>
      <button mat-button class="nav-text-btn" (click)="logout()">Logout</button>
    </ng-container>

    <ng-container *ngIf="!login">
      <button mat-button class="nav-text-btn" routerLink="/register">Register</button>
      <button mat-button class="nav-text-btn" routerLink="/login">Login</button>
      <button mat-button class="nav-text-btn" (click)="logout()" *ngIf="login">Logout</button>
    </ng-container>
  </div>
</mat-toolbar>


