################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolApiService/obj/Release/net8.0
.github/copilot-instructions.md
.vs/SchoolManagementSystem/CopilotIndices/17.14.1661.41761/SemanticSymbols.db
.vs/SchoolManagementSystem/DesignTimeBuild/.dtbcache.v2
.vs/SchoolManagementSystem/FileContentIndex/61cbb335-9a0b-4364-92c9-41d91ecd3b3c.vsidx
.vs/SchoolManagementSystem/CopilotIndices/17.14.1661.41761/CodeChunks.db
SchoolApiService/obj/Debug/net8.0/SchoolApiService.AssemblyInfoInputs.cache
SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.AssemblyInfo.cs
SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.AssemblyInfoInputs.cache
SchoolApp.DAL/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.AssemblyInfoInputs.cache
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.csproj.AssemblyReference.cache
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.GeneratedMSBuildEditorConfig.editorconfig
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfo.cs
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.AssemblyInfo.cs
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.assets.cache
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.GlobalUsings.g.cs
SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.AssemblyInfoInputs.cache
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfo.cs
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfo.cs
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfoInputs.cache
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfoInputs.cache
SchoolApp.Models/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.AssemblyInfo.cs
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.AssemblyInfoInputs.cache
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.assets.cache
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.GeneratedMSBuildEditorConfig.editorconfig
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.GlobalUsings.g.cs
