################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolApiService/obj/Release/net8.0
.github/copilot-instructions.md
.vs/SchoolManagementSystem/CopilotIndices/17.14.1661.41761/SemanticSymbols.db
.vs/SchoolManagementSystem/DesignTimeBuild/.dtbcache.v2
.vs/SchoolManagementSystem/FileContentIndex/61cbb335-9a0b-4364-92c9-41d91ecd3b3c.vsidx
.vs/SchoolManagementSystem/CopilotIndices/17.14.1661.41761/CodeChunks.db
SchoolApiService/obj/Debug/net8.0/SchoolApiService.AssemblyInfoInputs.cache
SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.AssemblyInfo.cs
SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.AssemblyInfoInputs.cache
SchoolApp.DAL/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.AssemblyInfoInputs.cache
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.csproj.AssemblyReference.cache
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.GeneratedMSBuildEditorConfig.editorconfig
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfo.cs
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.AssemblyInfo.cs
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.assets.cache
SchoolApp.DAL/obj/Release/net8.0/SchoolApp.DAL.GlobalUsings.g.cs
SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.AssemblyInfoInputs.cache
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfo.cs
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfo.cs
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfoInputs.cache
SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfoInputs.cache
SchoolApp.Models/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.AssemblyInfo.cs
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.AssemblyInfoInputs.cache
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.assets.cache
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.GeneratedMSBuildEditorConfig.editorconfig
SchoolApp.Models/obj/Release/net8.0/SchoolApp.Models.GlobalUsings.g.cs
/SchoolApiService/obj/Debug/net8.0/SchoolApiService.AssemblyInfo.cs
/.vs/SchoolManagementSystem/FileContentIndex
/SchoolApiService/obj/Debug/net8.0/SchoolApiService.AssemblyInfoInputs.cache
.vs/SchoolManagementSystem/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/schoolmanagementsystem.metadata.v9.bin
/.vs/ProjectEvaluation/schoolmanagementsystem.projects.v9.bin
/.vs/ProjectEvaluation/schoolmanagementsystem.strings.v9.bin
/.vs/SchoolManagementSystem/DesignTimeBuild/.dtbcache.v2
/.vs/SchoolManagementSystem/FileContentIndex/efd8cc17-119f-47f9-ab12-058d167d613c.vsidx
/.vs/SchoolManagementSystem/v17/.futdcache.v2
/.vs/SchoolManagementSystem/v17/.suo
/.vs/SchoolManagementSystem/v17/DocumentLayout.backup.json
*.bin
/SchoolApiService/bin/Debug/net8.0/SchoolApiService.dll
/SchoolApiService/bin/Debug/net8.0/SchoolApiService.exe
/SchoolApiService/bin/Debug/net8.0/SchoolApiService.pdb
/SchoolApiService/bin/Debug/net8.0/SchoolApp.DAL.dll
/SchoolApiService/bin/Debug/net8.0/SchoolApp.DAL.pdb
/SchoolApiService/bin/Debug/net8.0/SchoolApp.Models.dll
/SchoolApiService/bin/Debug/net8.0/SchoolApp.Models.pdb
/SchoolApiService/obj/Debug/net8.0/ref/SchoolApiService.dll
/SchoolApiService/obj/Debug/net8.0/refint/SchoolApiService.dll
/SchoolApiService/obj/Debug/net8.0/ApiEndpoints.json
/SchoolApiService/obj/Debug/net8.0/apphost.exe
/SchoolApiService/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/SchoolApiService/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/SchoolApiService/obj/Debug/net8.0/SchoolApiService.csproj.AssemblyReference.cache
/SchoolApiService/obj/Debug/net8.0/SchoolApiService.csproj.CoreCompileInputs.cache
/SchoolApiService/obj/Debug/net8.0/SchoolApiService.csproj.FileListAbsolute.txt
/SchoolApiService/obj/Debug/net8.0/SchoolApiService.dll
/SchoolApiService/obj/Debug/net8.0/SchoolApiService.pdb
*.json
/SchoolApp.DAL/bin/Debug/net8.0/SchoolApp.DAL.dll
/SchoolApp.DAL/bin/Debug/net8.0/SchoolApp.DAL.pdb
/SchoolApp.DAL/bin/Debug/net8.0/SchoolApp.Models.dll
/SchoolApp.DAL/bin/Debug/net8.0/SchoolApp.Models.pdb
/SchoolApp.DAL/obj/Debug/net8.0/ref/SchoolApp.DAL.dll
/SchoolApp.DAL/obj/Debug/net8.0/refint/SchoolApp.DAL.dll
/SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.AssemblyInfo.cs
/SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.AssemblyInfoInputs.cache
/SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.csproj.AssemblyReference.cache
/SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.csproj.FileListAbsolute.txt
/SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.dll
/SchoolApp.DAL/obj/Debug/net8.0/SchoolApp.DAL.pdb
/SchoolApp.Models/bin/Debug/net8.0/SchoolApp.Models.dll
/SchoolApp.Models/bin/Debug/net8.0/SchoolApp.Models.pdb
/SchoolApp.Models/obj/Debug/net8.0/ref/SchoolApp.Models.dll
/SchoolApp.Models/obj/Debug/net8.0/refint/SchoolApp.Models.dll
/SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfo.cs
/SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.AssemblyInfoInputs.cache
/SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.csproj.FileListAbsolute.txt
/SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.dll
/SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.GeneratedMSBuildEditorConfig.editorconfig
/SchoolApp.Models/obj/Debug/net8.0/SchoolApp.Models.pdb
